$filter-white: brightness(0) invert(1);
$filter-black: brightness(0);
$text-color: #fff;
$body-color: #000;
$theme-color-one: #000;
$theme-color-two: #ffbd39;
$overflow-x: hidden;
$z-index: 99;
$border-category-color: #eaeaea;
$gray-color: #aeaeae;
$overlay-p-color: #ffffff80;